# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Specific webpy folders
sessions/
*.log

# Blazegraph data
data/blaze.jnl

# This file is created dynamically during the runtime
static/js/conf.js
