$def with (user,is_git_auth,project)

$var user = user
$var is_git_auth=is_git_auth
$var project = project

<section class="row articleBox">
	<section class="col-md-7 documentation" id="documentation">
		<h2 class="articleTitle">Documentation</h2>
		<h3 class="articleSubtitle">Before you start... </h3>
		<p>Thank you for contributing to musoW!</p>

		<h4>Guidelines for creating new records</h4>
		<p>Contribute to musoW with information on any musical resource you know about (catalogues, datasets, digital editions, etc).
			Once you submit a record you'll not be allowed to modify it. But don't worry, our editorial board will review your suggestions before publishing the record.</p>
		<p><em>Please, use Chrome, Firefox or Safari!</em></p>

		<h4>Tips: Autocompletion</h4>
		<p>Some fields have autocomplete functionalities! A dropdown pops up while typing, including best candidate matches (powered by Wikidata and musoW).</p>
		<img src="static/imgs/autocomplete.png" alt="screenshot entry form autocomplete"/>
		<p>If you found a match in the list, click on the item and it will appear below the text area.</p>
		<img src="static/imgs/matchfound.png" alt="match found in the list of suggestions"/>
		<p>If you don't find any match, type your term and click on return to create a new one. Other contributors will be able to use it in new records.</p>
		<img src="static/imgs/orangeList.png" alt="create a new term"/>
		<p>You can always remove values by clicking on the X.</p>

		<p><i class="fas fa-exclamation-circle"></i> <em>Suggestions are retrieved on-the-fly. The search starts on keyup (after few milliseconds) and can take few seconds if the connection is unstable (so be patient!).
			Secondly, results may reload slowly, meaning that refinements of the search might take time. If no relevant results are found at the first attempt, please try to remove the last character and re-type it.
			Lastly, when looking for two or more words (e.g. people names, place names, types of objects) be aware that you may have to try several combinations of words (e.g. <code>firstname+lastname</code> rather than <code>lastname+firstname</code>)</em>.</p>
		<hr/>

	</section>
</section>
