$def with (content)

<html>
	<head>
	    <title>musoW</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="static/js/popper.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/js/wikidata-sdk.min.js"></script>
		<script type="text/javascript" src="static/js/main.js"></script>
		<script type="text/javascript" src="static/js/classie.js"></script>
		<link rel="icon" type="image/png" href="static/imgs/favicon.png">
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
	</head>
	<body class="cbp-spmenu-push">
		<section class="container-fluid main_content">
			<section class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
			</section>
			<nav class="row">
				<span class="logo"><a href="/"><img src="static/imgs/logo.svg"></a></span>
				<!-- <a href="about">about</a> -->
				<form action='' method='POST' id="create_form_menu">
			    <button class="btn btn-dark" name="action" value="createRecord$time_now()" type="submit">tell us something we don't know</button>
			  </form>
				<a href="records">Explore</a>
				<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">login</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					$if content.user == 'anonymous' or content.user == 'unknown':
						<form action="" method="post">
						    <div class="field-wrap">
						      <label>Email</label><input name="login" type="email" required autocomplete="on"/>
						    </div>
						    <div class="field-wrap">
						      <label>Password</label><input name="passwd" type="password" required autocomplete="on"/>
						    </div>
						    <button class="btn btn-dark"/>Login</button>
						  </form>
					$else:
						<p>You are logged in.</p>
						<p><a href="logout">Logout</a></p>
				</div>
				<!-- <div class="searchmenu">
					<i class="fas fa-search" aria-hidden="true"></i>
					<input autocomplete="off" class="searchGeneral" placeholder= "Search..." id="search" name="search" type="text">

				</div>
				<div id="searchresult"></div>-->

			</nav>
			<main class="">
				$:content
				<div class="push"></div>
			</main>

			<footer class="row">

				<section class="col-3">
					<p>musoW is part of</p>
					<p><a href="https://polifonia-project.eu/"><img src="static/imgs/logo.svg"></a> <img src="static/imgs/logoeu.jpg"></p>
					<p>Polifonia has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement N. 101004746</p>
					<p></p>
				</section>
				<section class="col-4">
					<h3 class="articleSubtitle">documentation</h3>
					<p><a href="https://github.com/polifonia-project/registry">github</a></p>
				</section>
				<section class="col-4">
					<h3 class="articleSubtitle">query our data</h3>
					<p><a href="http://data.open.ac.uk/sparql">SPARQL endpoint</a></p>
					<p><a href="https://github.com/polifonia-project/registry">data dump</a></p>
				</section>

			</footer>
		</section>
	</body>

</html>
