$def with (user)

$var user = user

<section class="row homepage">
    <section class="col-md-4 col-sm-12">
      <span class="logo_homepage text-center">musoW</span>
    </section>
    <h1 class="col-md-7 col-sm-12">Music data <span>on the web</span></h1>
</section>

<section class="row">
  <section class="homeheading col-md-4 col-sm-12">
    <p class="caption">WHAT</p>
    <h2>Mapping music heritage on the web</h2>
  </section>
  <section class="homeheadingtext col-md-7 col-sm-12">
    <h3>We are shaping the landscape of music data on the web</h3>
    <p>musoW is a catalogue of musical resources available on the web realized
      with the idea to support teachers in music education, creative industries, historians,
      and musicologists in finding what they need.</p>
    <p>Usually scholars and creatives need to combine diverse resources (music scores,
      audiovisual materials, data) from digital music libraries and audiovisual archives.
      They need to identify valuable sources of information, find similarities or cross-references.
      Tech-savvy people want to access music data programmatically to develop their innovative projects.
      The research of good music sources is mostly done manually, reviewing tons of websites.</p>
    <p>In musoW we support users in searching over hundreds of online resources, including digital libraries,
      archives, datasets, and related technologies.</p>

      <button class="col-md-7 col-sm-12 btn btn-dark" onclick="window.location.href='records'">explore musoW</button>

  </section>

</section>

<section class="row">
  <section class="homeheading col-md-4 col-sm-12">
    <p class="caption">HOW</p>
    <h2>The knowledge graph of music resources</h2>
  </section>
  <section class="homeheadingtext col-md-7 col-sm-12">
    <h3>Crowdsourcing and curating music linked open data</h3>
    <p>musoW is part of Polifonia, a European project dedicated to recreate the
      connections between music, people, places, and events from the sixteenth century
      to the modern day. To do so, Linked Open Data has been chosen as the lingua franca
      to share data between applications and programmers.</p>
    <p>Dozens of contributors populate musoW sharing new music resources,
      therefore contributing to expand boundaries of our knowledge of music.
      An editorial board reviews contents to ensure quality and correctness.
      Contributions can be anonymous, and can be simply suggestions of new resources to be catalogued.
      </p>
    <p>Contribute to musoW! it's easy and quick.</p>
    <section class="row">
      <form class="col-md-7 col-sm-12" action='' method='POST' id="create_form">
        <button class="btn btn-dark col-md-12 col-sm-12" name="action" value="createRecord$time_now()" type="submit">Add a resource</button>
      </form>
      </section>
    <p>If you want to modify existing records you'll need an account.
    New collaborators can request an account by posting a request on github.</p>
    <button class="col-md-7 col-sm-12 btn btn-dark" onclick="window.location.href='https://github.com/polifonia-project/registry/issues/new'">Become a collaborator</button>

  </section>

</section>
