$def with (user)

$var user = user

<section class="row homepage">
  <section class="col-6">
    <h1>musoW</h1>
  </section>
  <section class="col-4">
    <section class="row">
      <h2>MUSICAL DATA ON THE WEB</h2>
      <p>musoW is a catalogue of musical resources on the web. We are tracking how the landscape of musical data on the web is evolving, to support support music education, creative industries, historians, and musicologists.</p>
    </section>
    <section class="row">
      <button class="col-5 btn btn-dark" onclick="window.location.href='records'">explore musoW</button>
      <form class="col-5" action='' method='POST' id="create_form">
        <button class="btn btn-dark" name="action" value="createRecord$time_now()" type="submit">tell us something we don't know</button>
      </form>
    </section>
  </section>
</section>
