$def with (graphdata, pageID, record_form, user, ids_dropdown)

$var user = user

<header class="row needDoc">
	<button id="showRight">&gt; help</button>
	<script type="text/javascript">
		$$('#cbp-spmenu-s2').load( "./documentation #documentation", function() {
			$$(".documentation").removeClass('col-md-7').addClass('col-md-12 col-sm-4');
			$$("h2").css('font-size','2em');
		} );
	</script>
	<h3>Modify record</h3>
</header>
<section class="row">
	<section class="col-md-8 col-lg-8 col-sm-8">
		<form id="modifyForm" class="col-md-12 col-sm-12 col-lg-12" action="" method="POST">
			<input type='hidden' name='recordID' value=$:pageID>
			<section class="row">
				<section class="homeheading col-md-8 col-lg-8 col-sm-8">
					$for input in record_form.inputs:
						<section class="form_row">
							$ id = input.get_default_id()
							<section class="label col-12">
								$:input.description
							</section>
							<section class="col-md-12 col-sm-12 col-lg-12">
								$:input.pre
								$if id in graphdata:
									<!-- string value -->
									$if isinstance(graphdata[id][0],str):
										$:input.set_value(graphdata[id][0])
										$:input.render()
									$elif id in ids_dropdown:
										<!-- dropdown -->
										$:input.render()
										<script type="text/javascript">
											$$("#$id option[value$$=$graphdata[id][0][0]]").attr("selected","selected");
										</script>
									$else:
										<!-- text box with URI,label -->
										$:input.render()
										$if len(graphdata[id]) > 0:
											$for k_v in graphdata[id]:
													<span class='tag $k_v[0]' data-input='$id' id='$k_v[0]'>$k_v[1]</span>
													<input type='hidden' class='hiddenInput $k_v[0]' name='$id-$k_v[0]' value='$k_v[0],$k_v[1]'/>
								$else:
									$:input.render()
							</section>
						</section>
				</section>
				<section class="homeheading col-md-4 col-sm-4 col-lg-4">
					<h2>Remember to save!</h2>
				</section>
			</section>

			<section class="buttonsSection">
				<input class="btn btn-dark" type="submit" value="Save"/>
			</section>
		</form>
	</section>
	<section id="searchresult">
	</section>

</section>
