$def with (user, data, title,r_base,alll,filters,is_git_auth,project)

$var user = user
$var is_git_auth=is_git_auth
$var project=project

<header class="row">
	<h3 class="col-md-12 col-lg-12 col-sm-12">Explore $project catalogue. <br> There are $alll resources</h3>
</header>
<section class="row articleBox">
	<section class="col-md-10 col-sm-12">
		$for filter in filters:
			<section class="row">
				<section class="homeheading col-md-4 col-sm-12">
					<p class="caption">$filter[1]</p>
					<h2>Browse by $filter[1]</h2>
				</section>
				<section class="homeheadingtext col-md-7 col-sm-12">
					$if filter[2] == 'Textbox' and filter[3] == 'Literal':
						<p>Filter alphabetically</p>
							<section id="toc_resources">
								<section class="alphabet" id="alphabet">
								</section>
								$for record in data:
									$if record[5] != 'not modified':
										<section class="list upper(record[1][0])">
											<a href="view-$record[0].rsplit('/')[-2]" class="resource_collapse">$record[1]</a>
										</section>

							</section>
					$elif filter[2] == 'Textbox' and filter[3] == 'URI':
						<p>Filter by most recurring values</p>
						$ elemID = filter[1].replace(' ','')
						$ results = elemID+"results"
						<section id="$elemID" class="indexURI">
						</section>
						<button class="showMore" type="button">show more</button>
						<script type="text/javascript">
							getPropertyValue("$elemID", "$filter[0]", "$filter[3]", "$filter[2]");
						</script>
						<section class="resultAccordion">
							<section id="$results" class="$results collapse"></section>
						</section>

					$elif filter[2] in ['Dropdown','Checkbox'] and filter[3] == 'URI':
						<p>Filter by most recurring values</p>
						$ elemID = filter[1].replace(' ','')
						$ results = elemID+"results"
						<section id="$elemID" class="indexURI">
						</section>
						<button class="showMore" type="button">show more</button>
						<script type="text/javascript">
							getPropertyValue("$elemID", "$filter[0]", "$filter[3]", "$filter[2]");
						</script>
						<section class="resultAccordion">
							<section id="$results" class="$results collapse"></section>
						</section>
					$else:
						<p>-</p>
				</section>
			</section>
	</section>
	<section class="col-md-2 col-sm-12">

		
	</section>
</section>
