$def with(record_form, pageID, user, alert, limit)
$var user = user

$if alert == False:
	<header class="row needDoc">
		<button id="showRight"><i class="far fa-lightbulb"></i> help</button>
		<script type="text/javascript">
			$$('#cbp-spmenu-s2').load( "./documentation #documentation", function() {
				$$(".documentation").removeClass('col-md-7').addClass('col-md-12');
				$$("h2").css('font-size','3em');
			} );
			setTimeout( function(){ document.getElementById( "recordForm" ).reset(); }, 5 );
		</script>
		<h3>Thanks for helping musoW to grow!</h3>
	</header>
	<section class="row">
		<section class="col-8">
			<form id="recordForm" class="col-md-12" action="" method="POST">
				<input type='hidden' name='recordID' value=$:pageID>

				<section class="row">
					<section class="homeheading col-8">
						$for input in record_form.inputs:
							<section class=" form_row">
								$ id = input.get_default_id()
								<section class="label col-12">
									$:input.description
								</section>
								<section class="col-12">
									$:input.pre
									$:input.render()
								</section>
							</section>
					</section>
					<section class="homeheading col-4">
						<h2>What did you find?</h2>
					</section>
				</section>
				<section class="buttonsSection">
					<input class="btn btn-dark" type="submit" value="Save"/>
				</section>
			</form>
		</section>
		<section id="searchresult">
		</section>
		<section class="col-md-3" id="lookup">
		</section>
	</section>
$else:
	<header class="row needDoc">
		<h3>You already proposed $limit new resources today! Please come back tomorrow</h3>
	</header>
