$def with (user, data, title,r_base,alll,filters)

$var user = user

<header class="row">
  <h3 class="col-md-12 col-lg-12 col-sm-12">Discover music data on the web. <br> There are $alll resources</h3>
</header>
<section class="row articleBox">
	<section class="col-md-10 col-sm-12">

		$for filter in filters:
			<section class="row">
				<section class="homeheading col-md-4 col-sm-12">
					<p class="caption">$filter[1]</p>
					<h2>Browse by $filter[1]</h2>
				</section>
				<section class="homeheadingtext col-md-7 col-sm-12">
					$if filter[2] == 'Textbox' and filter[3] == 'Literal':
						<p>Filter alphabetically</p>
						$if filter[0] == 'http://www.w3.org/2000/01/rdf-schema#label':
							<section id="toc_resources">
								<section class="alphabet" id="alphabet">
								</section>
								$for record in data:
									<section class="list $upper(record[1][0])">
										<a href="view-$record[0].rsplit('/')[-2]" class="resource_collapse">$record[1]</a>
									</section>
							</section>
						$else:
							<p>COMING SOON</p>
					$elif filter[2] == 'Textbox' and filter[3] == 'URI':
						<p>Filter by most recurring values</p>
						$ elemID = filter[1].replace(' ','')
						$ results = elemID+"results"
						<section id="$elemID" class="indexURI">
						</section>
						<button class="showMore" type="button">show more</button>
						<script type="text/javascript">
							getPropertyValue("$elemID", "$filter[0]", "$filter[3]", "$filter[2]");
						</script>
						<section class="resultAccordion">
							<section id="$results" class="$results collapse"></section>
						</section>

					$elif filter[2] == 'Dropdown' and filter[3] == 'URI':
						<p>Filter by most recurring values</p>
						$ elemID = filter[1].replace(' ','')
						$ results = elemID+"results"
						<section id="$elemID" class="indexURI">
						</section>
						<button class="showMore" type="button">show more</button>
						<script type="text/javascript">
							getPropertyValue("$elemID", "$filter[0]", "$filter[3]", "$filter[2]");
						</script>
						<section class="resultAccordion">
							<section id="$results" class="$results collapse"></section>
						</section>

					$else:
						<p>-</p>
				</section>
			</section>
	</section>
	<section class="col-md-2 col-sm-12">

		<section class="row">
			<h3 class="col-md-12 col-sm-12 text-left">$title</h3>
			$for record in reversed(list(data)[-6:]):
			  $ stage = '' if 'modified' not in record[5] else ' (draft)'
				$ recid = record[0][:-1].split(r_base)[1]
					<section class="col-md-12 col-sm-5 entryBox">
						<section class="imageBox noImage">
						</section>
						<section class="entryTitle">
							<a href="view-$recid">$record[1]</a>
							<span>$stage</span>
						</section>
					</section>

		</section>
	</section>
</section>
